<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>BD 2020/2021</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">Base de Dados 2020/2021</span>
	</nav>
	<div class="d-flex" style="margin: 20px;">
		<div class="container justify-content-center">
			<h3 style="text-align: center;">Inserir Instituição</h3>
			<div class="container justify-content-center">
				<form class="d-flex flex-column justify-content-center" name="inst" action="api/inserir" method="POST">
					<input type="hidden" name="inserir" value="inst" />
					<label>Nome:</label>
					<input type="text" name="nome">
					<label>Tipo:</label>
					<input type="text" name="tipo">
					<label>Numero Regiao:</label>
					<input type="number" name="nRegiao">
					<label>Numero Concelho:</label>
					<input type="number" name="nConcelho"><br>
					<button type="submit" style="width: 100px; height: 50px;">Inserir</button>
				</form>
			</div>
		</div>
		<div class="container justify-content-center">
			<h3 style="text-align: center;">Inserir Médico</h3>
			<form class="d-flex flex-column justify-content-center" name="med" action="api/inserir" method="POST">
				<input type="hidden" name="inserir" value="med" />
				<label for="">Numero cédula:</label>
				<input type="text" name="nCedula">
				<label for="">Nome:</label>
				<input type="text" name="nome">
				<label for="">Especialidade:</label>
				<input type="text" name="esp"><br>
				<button type="submit" value="Submit" style="width: 100px; height: 50px;">Inserir</button>
			</form>
		</div>
	</div>
</body>
</html>