<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>BD 2020/2021</title>
</head>
<body>
	<form action="api/listarSub" method="post">
		<label>Número Cédula</label>
		<input type="number" name="nCedula">
		<label>Mês</label>
		<input type="number" name="mes">
		<input type="submit" value="Listar">
	</form>
	{% if cursor %}
	<table border="2px">
		<thead>
		<tr>
			<td>Substância</td>
		</thead>
		<tbody>
			{% for record in cursor %}
				<tr>
				<td>{{ record[0] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</body>
</html>